xml
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;web-app xmlns=&quot;http://xmlns.jcp.org/xml/ns/javaee&quot;
version=&quot;3.1&quot;&gt;
&lt;servlet&gt;
&lt;servlet-name&gt;LoginServlet&lt;/servlet-name&gt;
&lt;servlet-class&gt;com.travel.servlet.LoginServlet&lt;/servlet-class&gt;
&lt;/servlet&gt;
&lt;servlet-mapping&gt;
&lt;servlet-name&gt;LoginServlet&lt;/servlet-name&gt;
&lt;url-pattern&gt;/LoginServlet&lt;/url-pattern&gt;
&lt;/servlet-mapping&gt;
&lt;servlet&gt;
&lt;servlet-name&gt;RegisterServlet&lt;/servlet-name&gt;
&lt;servlet-class&gt;com.travel.servlet.RegisterServlet&lt;/servlet-class&gt;
&lt;/servlet&gt;
&lt;servlet-mapping&gt;
&lt;servlet-name&gt;RegisterServlet&lt;/servlet-name&gt;
&lt;url-pattern&gt;/RegisterServlet&lt;/url-pattern&gt;

&lt;/servlet-mapping&gt;
&lt;servlet&gt;
&lt;servlet-name&gt;PackageServlet&lt;/servlet-name&gt;
&lt;servlet-class&gt;com.travel.servlet.PackageServlet&lt;/servlet-class&gt;
&lt;/servlet&gt;
&lt;servlet-mapping&gt;
&lt;servlet-name&gt;PackageServlet&lt;/servlet-name&gt;
&lt;url-pattern&gt;/PackageServlet&lt;/url-pattern&gt;
&lt;/servlet-mapping&gt;
&lt;servlet&gt;
&lt;servlet-name&gt;BookingServlet&lt;/servlet-name&gt;
&lt;servlet-class&gt;com.travel.servlet.BookingServlet&lt;/servlet-class&gt;
&lt;/servlet&gt;
&lt;servlet-mapping&gt;
&lt;servlet-name&gt;BookingServlet&lt;/servlet-name&gt;
&lt;url-pattern&gt;/BookingServlet&lt;/url-pattern&gt;
&lt;/servlet-mapping&gt;
&lt;/web-app&gt;